*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body{
    background-color: rgb(225, 152, 55);
}

main{
    background-color: beige;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.544);
}